@font-face {
  font-family: "--poppins-regular";
  src: url("/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "--poppins-medium";
  src: url("/assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "--poppins-bold";
  src: url("/assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "--poppins-extrabold";
  src: url("/assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "--rubik-mono";
  src: url("/assets/fonts/rubik-mono/RubikMonoOne.ttf") format("truetype");
}

@font-face {
  font-family: "--jb-mono";
  src: url("/assets/fonts/jetbrain-mono/JetBrainsMono.ttf") format("truetype");
}

.font-ppReg {
  font-family: "--poppins-regular";
}

.font-ppMed {
  font-family: "--poppins-medium";
}

.font-ppB {
  font-family: "--poppins-bold";
}

.font-ppEB {
  font-family: "--poppins-extrabold";
}

.font-rm {
  font-family: "--rubik-mono";
}

.font-jb {
  font-family: "--jb-mono";
}
