::selection {
  background: rgba(86, 86, 255, 0.362);
}

body {
  scroll-behavior: smooth;
}

#loading-spinner {
  animation: spinner 0.5s linear infinite;
  border-radius: 30px;
  /* transition: .2s ease; */
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hideScrollBar::-webkit-scrollbar {
  /* customize it */
  width: 3px;
  background: transparent;
}

.hideScrollBar::-webkit-scrollbar-thumb {
  /* customize it */
  background: #777;
  border-radius: 30px;
}

.hideScrollBar::-webkit-scrollbar-track {
  /* customize it */
  background: transparent;
}

.hideScrollBar2::-webkit-scrollbar {
  /* customize it */
  width: 1px;
  background: transparent;
}

/* hide code highlight scrollbar */
pre {
  scrollbar-width: none;
}

/* chat loading animation */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000;
  color: #000;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000;
  color: #000;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

.message-list-item-container a {
  color: #a1a9ff;
}
